
@{
    ViewBag.Title = "MyBootcamp";
}

<h2>MyBootcamp</h2>

<h3>C# rules</h3>

<!--Step 1 of MVC (View)
    Step 2 of MVC (Action) continued in HomeController (new method)
    Step 3 of MVC (Link) continued in -->
<form action="/Home/SearchByName" method="get">
    Name: <input type="text" name="searchName"/> <br/> <br />
    <input type="submit" value="Search"/>
</form>